//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

// Bootstrap variables
 $primary: #0093B2;
 $success: #04A049;
 $info: #001871;
 $danger: #BD146B;