<form class="auth-register-form mt-2" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="register-firstName" class="form-label">¿Cómo te llamas?</label>
      <input
        type="text"
        formControlName="firstName"
        class="form-control"
        placeholder="Pedro"
        aria-describedby="register-firstName"
        tabindex="1"
        autofocus
        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
      />
      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
        <div *ngIf="f.firstName.errors.required">Tu nombre es necesario</div>
      </div>
    </div>
    <div class="form-group">
      <label for="register-lastName" class="form-label">¿Cuál es tu apellido?</label>
      <input
        type="text"
        formControlName="lastName"
        class="form-control"
        placeholder="Pérez"
        aria-describedby="register-lastName"
        tabindex="2"
        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
      />
      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
        <div *ngIf="f.lastName.errors.required">Tu apellido es necesario</div>
      </div>
    </div>

    <div class="divider">
      <div class="divider-text">Dirección</div>
    </div>

    <div class="form-group">
      <label for="register-ciudad" class="form-label">Ciudad</label>

      <select
        formControlName="ciudad"
        class="form-control"
        placeholder="Ciudad"
        aria-describedby="register-ciudad"
        tabindex="3"
        [ngClass]="{ 'is-invalid': submitted && f.ciudad.errors }"
      >
        <option>	Guadalajara	</option>
        <option>	Zapopan	</option>
        <option>	Tlaquepaque	</option>
        <option>	Tonalá	</option>
        <option>	Puerto Vallarta	</option>
        <option>	Lagos de Moreno	</option>
        <option>	Ciudad Guzmán	</option>
        <option>	Tepatitlán de Morelos	</option>
        <option>	Hacienda Santa Fe	</option>
        <option>	Ocotlán	</option>
        <option>	Tesistán (San Francisco Tesistán)	</option>
        <option>	Arandas	</option>
        <option>	San Juan de los Lagos	</option>
        <option>	Autlán de Navarro	</option>
        <option>	Ameca	</option>
        <option>	Tala	</option>
        <option>	La Barca	</option>
        <option>	Zapotlanejo	</option>
        <option>	San Agustín	</option>
        <option>	Tlajomulco de Zúñiga	</option>
        <option>	Coyula	</option>
        <option>	Tequila	</option>
        <option>	Ixtapa	</option>
        <option>	San Sebastián el Grande	</option>
        <option>	Tuxpan	</option>
        <option>	Atotonilco el Alto	</option>
        <option>	Santa Cruz del Valle	</option>
        <option>	Sayula	</option>
        <option>	Las Pintitas	</option>
        <option>	Encarnación de Díaz	</option>
        <option>	Jalostotitlán	</option>
        <option>	San Miguel el Alto	</option>
        <option>	Teocaltiche	</option>
        <option>	Las Pintas	</option>
        <option>	Zapotiltic	</option>
        <option>	El Salto	</option>
        <option>	Chapala	</option>
        <option>	El Grullo	</option>
        <option>	Santa Anita	</option>
        <option>	Lomas del Sur	</option>
        <option>	Jocotepec	</option>
        <option>	Tamazula de Gordiano	</option>
        <option>	Zacoalco de Torres	</option>
        <option>	Cihuatlán	</option>
        <option>	El Quince (San José El Quince)	</option>
        <option>	Jamay	</option>
        <option>	San José El Verde (El Verde)	</option>
        <option>	Magdalena	</option>
        <option>	Ahualulco de Mercado	</option>
        <option>	Villa Hidalgo	</option>
        <option>	Tizapán el Alto	</option>
        <option>	Cocula	</option>
        <option>	Real del Valle	</option>
        <option>	Yahualica de González Gallo	</option>
        <option>	Poncitlán	</option>
        <option>	Etzatlán	</option>
        <option>	Capilla de Guadalupe	</option>
        <option>	Colotlán	</option>
        <option>	San José del Castillo	</option>
        <option>	San Julián	</option>
        <option>	Tototlán	</option>
        <option>	La Tijera	</option>
        <option>	Tecalitlán	</option>
        <option>	Acatic	</option>
        <option>	Ojuelos de Jalisco	</option>
        <option>	Lomas de San Agustín	</option>
        <option>	Ayotlán	</option>
        <option>	El Arenal	</option>
        <option>	Degollado	</option>
        <option>	Santa Cruz de las Flores	</option>
        <option>	La Resolana	</option>
        <option>	Villas de la Hacienda (Fraccionamiento)	</option>
        <option>	Amatitán	</option>
        <option>	Ajijic	</option>
        <option>	Acatlán de Juárez	</option>
        <option>	Valle Dorado Inn	</option>
        <option>	San Ignacio Cerro Gordo	</option>
        <option>	Tecolotlán	</option>
        <option>	Juanacatlán	</option>
        <option>	Galaxia Bonito Jalisco	</option>
        <option>	Unión de Tula	</option>
        <option>	Las Juntas	</option>
        <option>	Tomatlán	</option>
        <option>	La Alameda	</option>
        <option>	Talpa de Allende	</option>
        <option>	Mascota	</option>
        <option>	El Capulín	</option>
        <option>	Rancho Alegre (Fraccionamiento)	</option>
        <option>	Jesús María	</option>
        <option>	San Martín Hidalgo	</option>
        <option>	La Huerta	</option>
        <option>	Mazamitla	</option>
        <option>	La Ribera	</option>
        <option>	Los Olivos	</option>
        <option>	Unión de San Antonio	</option>
        <option>	Villa Corona	</option>
        <option>	San Patricio Melaque	</option>
        <option>	San Miguel Cuyutlán	</option>
        <option>	Los Ruiseñores	</option>
        <option>	Usmajac	</option>
        <option>	Atotonilquillo	</option>
        <option>	Ayutla	</option>
        <option>	Bellavista	</option>
        <option>	San Sebastián del Sur	</option>
        <option>	San Juan Cosalá	</option>
        <option>	Pihuamo	</option>
        <option>	Atequiza	</option>
        <option>	Zapote del Valle (Zapote de Santa Cruz)	</option>
        <option>	El Refugio	</option>
        <option>	Ixtlahuacán del Río	</option>
        <option>	Ixtlahuacán de los Membrillos	</option>
        <option>	Colinas del Roble	</option>
        <option>	Tapalpa	</option>
        <option>	Galaxia la Noria	</option>
        <option>	Puente Grande	</option>
        <option>	La Venta del Astillero	</option>
        <option>	Cuitzeo (La Estancia)	</option>
        <option>	Atemajac de Brizuela	</option>
        <option>	San Juanito de Escobedo	</option>
        <option>	Cajititlán	</option>
        <option>	San Diego de Alejandría	</option>
        <option>	San Francisco de Asis	</option>
        <option>	Villa Purificación	</option>
        <option>	San Andrés Ixtlán	</option>
        <option>	San Pedro Itzicán	</option>
        <option>	Atoyac	</option>
        <option>	Mezcala	</option>
      </select>

      <div *ngIf="submitted && f.ciudad.errors" class="invalid-feedback">
        <div *ngIf="f.ciudad.errors.required">Tu ciudad es necesaria</div>
      </div>
    </div>

    <div class="form-group">
      <label for="register-estado" class="form-label">Estado</label>
      <input
        type="text"
        formControlName="estado"
        class="form-control"
        aria-describedby="register-estado"
        tabindex="4"
        [ngClass]="{ 'is-invalid': submitted && f.estado.errors }"
        disabled
        value="Jalisco"
      />

      <div *ngIf="submitted && f.estado.errors" class="invalid-feedback">
        <div *ngIf="f.estado.errors.required">El estado donde vives es necesario</div>
      </div>
    </div>

    <div class="form-group">
      <label for="register-fraccionamiento" class="form-label">Fraccionamiento</label>
      <input
        type="text"
        formControlName="fraccionamiento"
        class="form-control"
        placeholder="Fraccionamiento"
        aria-describedby="register-fraccionamiento"
        tabindex="5"
        [ngClass]="{ 'is-invalid': submitted && f.fraccionamiento.errors }"
      />
      <div *ngIf="submitted && f.fraccionamiento.errors" class="invalid-feedback">
        <div *ngIf="f.fraccionamiento.errors.required">El fraccionamiento es necesario</div>
      </div>
    </div>
    <div class="form-group">
      <label for="register-coto" class="form-label">Coto</label>
      <input
        type="text"
        formControlName="coto"
        class="form-control"
        placeholder="Coto"
        aria-describedby="register-coto"
        tabindex="6"
        [ngClass]="{ 'is-invalid': submitted && f.coto.errors }"
      />
      <div *ngIf="submitted && f.coto.errors" class="invalid-feedback">
        <div *ngIf="f.coto.errors.required">El coto es necesario</div>
      </div>
    </div>
    <div class="form-group">
      <label for="register-casa" class="form-label">Casa</label>
      <input
        type="text"
        formControlName="casa"
        class="form-control"
        placeholder="Casa"
        aria-describedby="register-casa"
        tabindex="7"
        [ngClass]="{ 'is-invalid': submitted && f.casa.errors }"
      />
      <div *ngIf="submitted && f.casa.errors" class="invalid-feedback">
        <div *ngIf="f.casa.errors.required">La casa es necesaria</div>
      </div>
    </div>
    <div class="form-group">
      <label for="register-calle" class="form-label">Calle</label>
      <input
        type="text"
        formControlName="calle"
        class="form-control"
        placeholder="Calle"
        aria-describedby="register-calle"
        tabindex="8"
        [ngClass]="{ 'is-invalid': submitted && f.calle.errors }"
      />
      <div *ngIf="submitted && f.calle.errors" class="invalid-feedback">
        <div *ngIf="f.calle.errors.required">La calle es necesaria</div>
      </div>
    </div>
    <div class="form-group">
      <label for="register-avenida" class="form-label">Avenida</label>
      <input
        type="text"
        formControlName="avenida"
        class="form-control"
        placeholder="Avenida"
        aria-describedby="register-avenida"
        tabindex="9"
        [ngClass]="{ 'is-invalid': submitted && f.avenida.errors }"
      />
      <div *ngIf="submitted && f.avenida.errors" class="invalid-feedback">
        <div *ngIf="f.avenida.errors.required">La avenida es necesaria</div>
      </div>
    </div>
    <div class="form-group">
      <label for="register-telefono" class="form-label">Teléfono</label>
      
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">+52</span>
        </div>
        <input 
        type="text" 
        formControlName="telefono"
        class="form-control" 
        placeholder="(760) 123 00 00" 
        mask="(000) 000 00 00" 
        aria-describedby="register-telefono"
        tabindex="11"
        [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }"
        />
      </div>
      <div *ngIf="submitted && f.telefono.errors" class="invalid-feedback">
        <div *ngIf="f.telefono.errors.required">El teléfono es necesario</div>
      </div>
    </div>

    <div class="divider">
      <div class="divider-text">Familiares</div>
    </div>
      <!-- ngb-alert component -->
      <ngb-alert [type]="'primary'" class="mt-1" [dismissible]="false">
        <div class="alert-body">
          <span [data-feather]="'info'" [class]="'mr-50 align-middle'"></span>
          Agrega a 2 de familiares que viven contigo que podrían pedir agua.
        </div>
      </ngb-alert>
      <!--/ ngb-alert component -->
    
    <div class="form-group">
      <label for="register-nombre_familiar_1" class="form-label">Nombre del familiar 1</label>
      <input
        type="text"
        formControlName="nombre_familiar_1"
        class="form-control"
        placeholder="Pedro"
        aria-describedby="register-nombre_familiar_1"
        tabindex="12"
        [ngClass]="{ 'is-invalid': submitted && f.nombre_familiar_1.errors }"
      />
      <div *ngIf="submitted && f.nombre_familiar_1.errors" class="invalid-feedback">
        <div *ngIf="f.nombre_familiar_1.errors.required">El nombre del 1er familiar es necesario</div>
      </div>
    </div>
    <div class="form-group">
      <label for="register-apellido_familiar_1" class="form-label">Apellido del familiar 1</label>
      <input
        type="text"
        formControlName="apellido_familiar_1"
        class="form-control"
        placeholder="Pérez"
        aria-describedby="register-apellido_familiar_1"
        tabindex="13"
        [ngClass]="{ 'is-invalid': submitted && f.apellido_familiar_1.errors }"
      />
      <div *ngIf="submitted && f.apellido_familiar_1.errors" class="invalid-feedback">
        <div *ngIf="f.apellido_familiar_1.errors.required">El apellido del 1er familiar es necesario</div>
      </div>
    </div>
    <div class="form-group">
      <label for="register-telefono_familiar_1" class="form-label">Teléfono del familiar 1</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">+52</span>
        </div>
        <input 
        type="text" 
        formControlName="telefono_familiar_1"
        class="form-control" 
        placeholder="(760) 123 00 00" 
        mask="(000) 000 00 00" 
        aria-describedby="register-telefono_familiar_1"
        tabindex="14"
        [ngClass]="{ 'is-invalid': submitted && f.telefono_familiar_1.errors }"
        />
      </div>
      <div *ngIf="submitted && f.telefono_familiar_1.errors" class="invalid-feedback">
        <div *ngIf="f.telefono_familiar_1.errors.required">El teléfono del 1er familiar es necesario</div>
      </div>
    </div>
    <div class="form-group">
      <label for="register-nombre_familiar_2" class="form-label">Nombre del familiar 2</label>
      <input
        type="text"
        formControlName="nombre_familiar_2"
        class="form-control"
        placeholder="Pedro"
        aria-describedby="register-nombre_familiar_2"
        tabindex="15"
        [ngClass]="{ 'is-invalid': submitted && f.nombre_familiar_2.errors }"
      />
      <div *ngIf="submitted && f.nombre_familiar_2.errors" class="invalid-feedback">
        <div *ngIf="f.nombre_familiar_2.errors.required">El nombre del 2do familiar es necesario</div>
      </div>
    </div>
    <div class="form-group">
      <label for="register-apellido_familiar_2" class="form-label">Apellido del familiar 2</label>
      <input
        type="text"
        formControlName="apellido_familiar_2"
        class="form-control"
        placeholder="Pérez"
        aria-describedby="register-apellido_familiar_2"
        tabindex="16"
        [ngClass]="{ 'is-invalid': submitted && f.apellido_familiar_2.errors }"
      />
      <div *ngIf="submitted && f.apellido_familiar_2.errors" class="invalid-feedback">
        <div *ngIf="f.apellido_familiar_2.errors.required">El apellido del 2do familiar es necesario</div>
      </div>
    </div>
    <div class="form-group">
      <label for="register-telefono_familiar_2" class="form-label">Teléfono del familiar 2</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">+52</span>
        </div>
        <input 
        type="text" 
        formControlName="telefono_familiar_2"
        class="form-control" 
        placeholder="(760) 123 00 00" 
        mask="(000) 000 00 00" 
        aria-describedby="register-telefono_familiar_2"
        tabindex="17"
        [ngClass]="{ 'is-invalid': submitted && f.telefono_familiar_2.errors }"
        />
      </div>
      <div *ngIf="submitted && f.telefono_familiar_2.errors" class="invalid-feedback">
        <div *ngIf="f.telefono_familiar_2.errors.required">El teléfono del 2do familiar es necesario</div>
      </div>
    </div>

    <div class="divider">
      <div class="divider-text">Ubicación y pedido</div>
    </div>

    <div class="form-group">
      <label for="register-codigo_postal" class="form-label">Código postal</label>
      <input
        type="text"
        formControlName="codigo_postal"
        class="form-control"
        placeholder="Código postal"
        aria-describedby="register-codigo_postal"
        tabindex="19"
        [ngClass]="{ 'is-invalid': submitted && f.codigo_postal.errors }"
      />
      <div *ngIf="submitted && f.codigo_postal.errors" class="invalid-feedback">
        <div *ngIf="f.codigo_postal.errors.required">El código postal es necesario</div>
      </div>
    </div>

    <div class="form-group">
      <label for="register-fecha_ultimo_pedido" class="form-label">Fecha de tu último pedido</label>
      <input 
        class="form-control" 
        type="text" 
        formControlName="fecha_ultimo_pedido"
        placeholder="01/02/2023" 
        mask="00/00/0000" 
        aria-describedby="register-fecha_ultimo_pedido"
        tabindex="22"
      />
    </div>

    <div class="form-group">
      <label for="register-utimos_botellones" class="form-label">Cantidad botellones en el último pedido</label>
      <input 
        class="form-control" 
        type="text" 
        formControlName="utimos_botellones"
        placeholder="10" 
        aria-describedby="register-utimos_botellones"
        tabindex="23"
      />
    </div>

    <div class="form-group">
      <label for="register-sucursal" class="form-label">Sucursal</label>
      <input
        type="text"
        class="form-control"
        aria-describedby="register-estado"
        disabled
        value="Zona Sur"
      />
    </div>

    <div class="divider">
      <div class="divider-text">Acceso</div>
    </div>

    <div class="form-group">
      <label for="register-email" class="form-label">¿Cuál es tu correo?</label>
      <input
        type="text"
        formControlName="email"
        class="form-control"
        placeholder="pedro@example.com"
        aria-describedby="register-email"
        tabindex="24"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
      />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">El correo es necesario</div>
        <div *ngIf="f.email.errors.email">Ingresa una dirección de correo válida</div>
      </div>
    </div>

    <!--<div class="form-group">
      <div class="custom-control custom-checkbox">
        <input class="custom-control-input" type="checkbox" id="register-privacy-policy" tabindex="4" />
        <label class="custom-control-label" for="register-privacy-policy">
          Debes aceptar nuestras <a href="javascript:void(0);">políticas de privacidad</a>
        </label>
      </div>
    </div>-->
    <button class="btn btn-primary btn-block" tabindex="26" rippleEffect *ngIf="!permitir_envio || registerForm.invalid">Regístrate</button>
    <button class="btn btn-primary btn-block" type="button" disabled rippleEffect *ngIf="permitir_envio && !registerForm.invalid">
      <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
      <span class="ml-25 align-middle">Registrando...</span>
    </button>
  </form>

  <!-- ngb-alert component -->
  <ngb-alert [type]="'danger'" *ngIf="existencia" class="mt-1" [dismissible]="false">
    <div class="alert-body">
      <span [data-feather]="'info'" [class]="'mr-50 align-middle'"></span>
      <span>¡Estos datos ya existen!</span>
    </div>
  </ngb-alert>
  <!--/ ngb-alert component -->